i.icss-linkedin {
  width: 1em;
  height: 1em;
  border-radius: 0.05em;
  background-color: transparent;
  box-shadow: inset 0 0 0 0.065em;
  margin: 0;
}
i.icss-linkedin:before {
  width: 0.3em;
  height: 0.5em;
  border-radius: 0.15em 0.25em 0 0 / 0.22em 0.3em;
  border: 0.1em solid transparent;
  border-width: 0.1em 0.05em 0 0;
  box-shadow: inset -0.1em 0.06em 0 0.04em, -0.08em -0.05em 0 0.05em,
    -0.6em -0.1em 0 0.1em;
  clip: rect(0.1em 0.25em 0.5em -0.33em);
  top: 0.3em;
  left: 0.57em;
}
i.icss-linkedin:after {
  width: 0.15em;
  height: 0.15em;
  border-radius: 50%;
  background-color: currentColor;
  top: 0.2em;
  left: 0.225em;
}

i.icss-linkedin:hover {
  color: white;
  background-color: #0d75a7;
}
